@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 15px;
  padding-right: 20px;
  padding-left: 20px;
}

a {
  color:gray;
  text-decoration: none;
}

.footer {
  display: flex;
  justify-content: space-between;
  background-color: #eeeeee;
}

.header {
  display: flex;
  justify-content: space-between;
}


.content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}

button {
  padding: 8px 16px;
}

.buttons {
  align-self: center;
}

.input {
  align-self: center;
}

